<form action="/add" method="POST">
    <h1>Crie sua postagem</h1>
    <br>
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo: </label>
        <input autocomplete="off" type="text" id="titulo" name="titulo" class="form-control">
    </div>

    <div class="mb-3">
        <label for="conteudo" class="form-label">Conteudo: </label>
        <textarea autocomplete="off" id="conteudo" name="conteudo" class="form-control" ></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar postagem</button>
</form>